/* TAG */
.tag {
  /* Display */
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* Layout */
  margin-top: 20px;
}

/* BUTTON */
.tag-btn {
  /* Size */
  min-width: 100px;
  min-height: 25px;

  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* Layout */
  margin-right: 10px;
  padding: 0px 10px;
  border-radius: 10px;

  /* Font */
  color: #fff;
  font-size: 14px;

  /* Decoration */
  background-color: #ff6060;
}

.tag-btn p {
  /* Layout */
  margin: 0;
}
