/* ABOUT */
.about {
  /* Size */
  width: 90%;

  /* Layout */
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* SCREEN < 500px */
@media all and (min-width: 0px) and (max-width: 500px) {
  /* ABOUT */
  .about {
    /* Layout */
    margin-top: 20px;
  }

  .informations {
    margin-top: -10px;
  }
}
