/* BANNER */
.HomeBanner {
  /* Size */
  width: 100%;
  height: 100%;

  /* Layout */
  margin-bottom: 50px;
}

/* IMAGE */
.HomeBanner-image img {
  /* Size */
  width: 100%;
  height: 200px;
  object-fit: cover;

  /* Position */
  position: relative;
  z-index: 1;

  /* Layout */
  border-radius: 25px;
}

/* TEXTE */
.HomeBanner-text {
  /* Size */
  width: 90%;

  /* Position */
  position: absolute;
  z-index: 2;
  top: 220px;

  /* Font */
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  line-height: 68.45px;
}

.lineReturn {
  display: none;
}

/* SCREEN < 800px */
@media all and (min-width: 0px) and (max-width: 800px) {
  /* TEXTE */
  .HomeBanner-text {
    /* Position */
    position: absolute;
    z-index: 2;
    top: 200px;

    /* Layout */
    margin-left: 10%;

    /* Font */
    font-size: 35px;
    text-align: left;
  }
  .lineReturn {
    display: inline;
  }
}

/* SCREEN < 500px */
@media all and (min-width: 0px) and (max-width: 500px) {
  /* TEXTE */
  .HomeBanner-text {
    /* Position */
    top: 170px;

    /* Font */
    font-size: 30px;
  }
}
