/* LINK */
.navigation a {
  /* Font */
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;

  /* Decoration */
  text-decoration: none;
  list-style: none;
}

.navigation a:hover {
  /* Font */
  color: #fd3333;

  /* Decoration */
  text-decoration: underline;
}

/* SCREEN < 300 px */
@media all and (min-width: 0px) and (max-width: 300px) {
  /* LINK */
  .navigation a {
    /* Font */
    font-size: 12px;
  }
}

/* SCREEN 300px < 500px */
@media all and (min-width: 300px) and (max-width: 500px) {
  /* LINK */
  .navigation a {
    /* Font */
    font-size: 16px;
  }
}
