/* BUTTON */
.collapse-btn {
  /* Size */
  width: 100%;
  height: 50px;

  /* Layout */
  margin: 30px auto;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px 10px;

  /* Font */
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: left;

  /* Decoration */
  background: #ff6060;
  border: none;
  cursor: pointer;
}

/* TITLE */
.collapse-title {
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

/* ICON */
.collapse-icon {
  /* Display */
  display: block;

  /* Transition */
  transition: transform 0.2s;
}

.collapse-icon.expanded {
  /* Transform */
  transform: rotate(-180deg);
}

/* CONTENT */
.collapse-content.collapsed {
  /* Display */
  display: none;
}

.collapse-content.expanded {
  /* Size */
  height: 100%;

  /* Display */
  display: block;

  /* Layout */
  margin: 0 auto;
}

/* TEXTE */
.collapse-content.expanded p {
  /* Layout */
  margin-top: 0px;
  padding: 30px;
  border-radius: 15px 15px 15px 15px;

  /* Font */
  color: #ff6060;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;

  /* Decoration */
  background-color: #f7f7f7;
}
