/* CARD */
.card {
  /* Size */
  width: 100%;
  box-sizing: border-box;

  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;

  /* Layout */
  margin: 0 auto;
  padding: 40px 40px;
  border-radius: 25px 25px 0px 0px;

  /* Decoration */
  background-color: #f7f7f7;
}

/* LINK */
.card a {
  /* Size */
  width: 31%;
  height: 340px;

  /* Position */
  position: relative;

  /* Decoration */
  text-decoration: none;
}

.card a:hover {
  opacity: 80%;
}

/* IMAGE */
.card img {
  /* Size */
  width: 100%;
  height: 340px;

  /* Layout */
  object-fit: cover;
  border-radius: 10px;
}

/* TITLE */
.card-title {
  /* Position */
  position: absolute;
  z-index: 2;
  top: 268px;
  left: 20px;

  /* Font */
  color: #fff;
  font-weight: 500;
  text-align: left;
}

/* SCREEN 500px < 800px */
@media all and (min-width: 50px) and (max-width: 800px) {
  /* CARD */
  .card {
    /* Display */
    column-gap: 10px;

    /* Layout */
    padding: 30px 30px;
  }

  /* LINK */
  .card a {
    /* Size */
    width: 47%;
  }
}

/* SCREEN < 500px */
@media all and (min-width: 0px) and (max-width: 500px) {
  /* CARD */
  .card {
    /* Layout */
    padding: 20px 20px;
  }

  /* LINK */
  .card a {
    /* Size */
    width: 100%;
  }
}
