/* FOOTER */
footer {
  /* Size */
  width: 90%;
  height: 200px;

  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Layout */
  margin: 0 auto;

  /* Font */
  color: #fff;
  font-size: 24px;
  font-weight: 500;

  /* Decoration */
  background-color: #000;
}

.footer-logo {
  /* Layout */
  margin-top: 50px;
}

footer p {
  /* Layout */
  margin-bottom: 50px;
}

/* SCREEN < 500px */
@media all and (min-width: 0px) and (max-width: 500px) {
  /* FOOTER */
  footer {
    /* Font */
    font-size: 16px;
  }
}
