/* LODGING */
.lodging {
  /* Size */
  width: 90%;
  min-width: 400px;

  /* Layout */
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 30px;

  /* Font */
  color: #ff6060;
  font-weight: 500;
  text-align: left;
}

/* LODGING INFOS */
.infos {
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: nowrap;

  /* Layout */
  padding-top: 10px;
  padding-bottom: 10px;
}

.lodging-owner {
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;

  /* Layout */
  margin-top: -10px;
  padding-bottom: 20px;
}

/* OWNER INFOS */
.owner-name {
  /* Size */
  width: 100px;
  height: 50px;

  /* Layout */
  padding-top: 30px;
  margin-right: 10px;

  /* Font */
  color: #ff6060;
  font-size: 18px;
  text-align: right;
}

.owner-picture {
  /* Size */
  width: 64px;
  height: 64px;

  /* Layout */
  border-radius: 50px;
}

/* PRODUCT INFOS */
.product-infos h2 {
  /* Font */
  font-size: 36px;
  font-weight: 500;
}

/* COLLAPSE */
.collapse {
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 5%;
}

.collapse-informations {
  /* Size */
  width: 100%;
}

/* LODGING */
.collapse-btn {
  /* Size */
  width: 100%;
  height: 50px;
}

.collapse-content.expanded p {
  /* Font */
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.collapse-content.expanded p li {
  /* Decoration */
  list-style: none;
}

/* SCREEN < 700px */
@media all and (min-width: 0px) and (max-width: 700px) {
  /* LODGING INFOS */
  .infos {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;

    /* Layout */
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* OWNER */
  .owner-responsive {
    /* Size */
    width: 100%;

    /* Display */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  /* COLLAPSE */
  .collapse {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5%;

    /* Layout */
    margin-top: -20px;
  }
}
