/* ERROR */
.error {
  /* Size */
  width: 90%;

  /* Layout */
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

  /* Color */
  color: #ff6060;
}

/* TITLE */
.error-title {
  /* Layout */
  margin-top: -50px;
  margin-bottom: -50px;

  /* Font */
  font-size: 270px;
  font-weight: 700;
}

/* TEXTE */
.error-text {
  /* Layout */
  margin-top: 50px;
  margin-bottom: 0px;

  /* Font */
  font-size: 36px;
  font-weight: 500;
}

/* ERROR */
.linkErrorToHome {
  /* Display */
  display: inline-block;

  /* Layout */
  margin-top: 50px;
  margin-bottom: 50px;

  /* Font */
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  text-align: center;

  /* Decoration */
  text-decoration: underline;
  list-style-type: none;
}

.linkErrorToHome:hover {
  /* Decoration */
  text-decoration: none;
}

/* SCREEN < 700px */
@media all and (min-width: 0px) and (max-width: 700px) {
  /* TITLE */
  .error-title {
    /* Font */
    font-size: 150px;
    font-weight: 700;
  }
  /* ERROR */
  .linkErrorToHome {
    /* Layout */
    margin-bottom: 10px;
  }
}
